<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <title>{{title}} | {{site.title}}</title>

  <!-- Custom styles for this template -->
  <link href="{{assets}}/styles/main.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/aed209e344.js"></script>
</head>
<body>

  <main role="main">
    {{> body }}
  </main>

  <script src="{{assets}}/scripts/lib/jquery.min.js"></script>
  <script src="{{assets}}/scripts/main.js"></script>
</body>
</html>
